
.scanCode{
    background-color: white;
}
.close{
    height: 30px;
    width: 30px;
    margin: 20px;
    margin-top: 40px;
}
#qr-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}
#qr-description{
    text-align: center;
    font-size: 16px;
    margin: 20px;
}
.scanQr{
    background-color: lightgray;
    color: white;
    font-size: 18px;
}
.enterCode{
    background-color: lightgray;
    color: white;
    font-size: 18px;
}
.bottom-sheet{
    position: absolute;
   margin-right: 20px;
    bottom: 10px;
    border-radius: 10px;
}
#bottom-div{
    margin-right: 60px;
}
#rounded {
    width: 100%;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(177, 177, 177);
    color: black;
    margin-right: 20px;

}